<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <base href="/">

    <title>Shop Homepage - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/shop-homepage.css" rel="stylesheet">
    <style>
        img {
            width: 100%;
            padding: 1%;
            margin-top: 2rem;
        }
    </style>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Music Academy</a>
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <button class="btn" data-toggle="modal" data-target="#Signup">Sign up</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn" data-toggle="modal" data-target="#Login">Login</button>
                    </li>
                </ul>
            </div> -->
        </div>
    </nav>


    <!-- Page Content -->
    <div class="container" style="height: 83vh;overflow: auto;">
        <div class="row" style="height: 20%;">
            <div class="col col-lg-3 col-md-3">
                &nbsp;
            </div>
            <div class="col col-lg-6 col-md-6" style="text-align: center;padding: 1rem;">
                <h3>Who are You</h3>
            </div>
            <div class="col col-lg-3 col-md-3">
                &nbsp;
            </div>

        </div>
        <div class="row">

            <div class="col col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col col-lg-3 col-md-3">
                        &nbsp;
                    </div>
                    <div class="col col-lg-6 col-md-6 col-sm-12">
                        <a href="/registerstudent/<%=Email%>">
                            <img id="studentIcon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Student_icon.svg/768px-Student_icon.svg.png" alt="">
                        </a>
                    </div>
                    <div class="col col-lg-3 col-md-3">
                        &nbsp;
                    </div>
                </div>
            </div>

            <div class="col col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col col-lg-3 col-md-3">
                        &nbsp;
                    </div>
                    <div class="col col-lg-6 col-md-6 col-sm-12">
                        <a href="/registerinstructor/<%=Email%>"><img src="https://image.flaticon.com/icons/svg/194/194936.svg" alt="student img here"></a>
                    </div>

                    <div class="col col-lg-3 col-md-3">
                        &nbsp;
                    </div>

                </div>

            </div>
        </div>
        <!-- /.row -->
        <div class="row">

            <div class="col col-lg-6 col-md-6 col-sm-12">
                <div class="row">
                    <div class="col col-lg-3 col-md-3">
                        &nbsp;
                    </div>
                    <div class="col col-lg-6 col-md-6 col-sm-12 text-center">
                        <strong>Student</strong>
                    </div>

                    <div class="col col-lg-3 col-md-3">
                        &nbsp;
                    </div>

                </div>

            </div>

            <div class="col col-lg-6 col-md-6 col-sm-12">
                <div class="row">
                    <div class="col col-lg-3 col-md-3">
                        &nbsp;
                    </div>
                    <div class="col col-lg-6 col-md-6 col-sm-12 text-center">
                        <strong>Instructor</strong>
                    </div>

                    <div class=" col col-lg-3 col-md-3 ">
                        &nbsp;
                    </div>

                </div>

            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark ">
        <div class="container ">
            <p class="m-0 text-center text-white ">Copyright &copy; Your Website 2019</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js "></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js "></script>


    <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->

    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-app.js "></script>

    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-auth.js "></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-firestore.js "></script>


    <script>
        // console.log("index.ejs ");
        var firebaseConfig = {
            apiKey: "AIzaSyAgBh_SBTl4Wc8ugH2EDchLJRqKnO2dAJI ",
            authDomain: "music-academy-2341.firebaseapp.com ",
            databaseURL: "https://music-academy-2341.firebaseio.com ",
            projectId: "music-academy-2341 ",
            storageBucket: "music-academy-2341.appspot.com ",
            messagingSenderId: "379322040304 ",
            appId: "1:379322040304:web:e171f5a89796acc871e735 ",
            measurementId: "G-2MHG9QDRM3 "
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        // $('#studentIcon').click(function() {
        //     alert('student click')
        //     const user = firebase.auth().currentUser;
        //     // console.log(<%= Email %>);

        //     window.location.replace("./registerstudent/" + Email);
        // });
        // $('#SignUpBtn').click(function() {
        //     console.log('sign up clicked');

        //     const email = $('#SignUpEmail').val();
        //     const password = $('#SignUpPassword').val();
        //     // const role = req.body.role;
        //     console.log(email + ' ' + password);
        //     firebase.auth().createUserWithEmailAndPassword(email, password).catch(function(error) {
        //         // Handle Errors here.
        //         var errorCode = error.code;
        //         var errorMessage = error.message;
        //         console.log("ERROR SIGN UP ");
        //         console.log(error);
        //         console.log(errorCode + ' : ' + errorMessage);
        //         if (errorCode === 'auth/email-already-in-use') {
        //             console.log("account present error ");
        //             $('#res').html('Account exist');
        //         }
        //         // ...
        //     });


        //     firebase.auth().onAuthStateChanged(function(user) {
        //         if (user) {
        //             // User is signed in.
        //             var displayName = user.displayName;
        //             var email = user.email;
        //             var emailVerified = user.emailVerified;
        //             var photoURL = user.photoURL;
        //             var isAnonymous = user.isAnonymous;
        //             var uid = user.uid;
        //             var providerData = user.providerData;
        //             $('#SignUpForm').submit();
        //             // res.send(uid + ' ' + displayName + ' ' + email);
        //             // ...
        //         } else {
        //             // User is signed out.
        //             // ...
        //             // res.send("Error signinig in ");
        //         }
        //     });

        // })
    </script>

</body>

</html>